Repository rozwer/cross2B-Pro: changes, and which lefthook commands are due for each by the changed paths.
All: secrets, ruff-check, ruff-format, mypy, biome, tsc, json

secrets:
  run: bash .lefthook/check-secrets.sh {staged_files}

ruff-check:
  run: ruff check {staged_files} --fix
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

mypy:
  run: mypy {staged_files} --ignore-missing-imports || true

biome:
  run: mise exec -- npx biome format --write --config-path apps/ui/biome.json {staged_files}
  stage_fixed: true

tsc:
  run: cd apps/ui && mise exec -- npx tsc --noEmit || true

json:
  run: "for f in {staged_files}; do\n  python3 -m json.tool \"$f\" > /dev/null || exit 1\ndone\n"

feat: pass volume/competition context to step0 prompt
  apps/worker/activities/step0.py
Due: secrets, ruff-check, ruff-format, mypy

feat: Google Ads OAuth + トークン追跡・コスト計算修正
  apps/api/llm/gemini.py
  apps/api/llm/schemas.py
  apps/api/prompts/packs/default.json
  apps/api/routers/cost.py
  apps/api/routers/settings.py
  apps/api/services/google_ads_client.py
  apps/api/services/settings_provider.py
  apps/ui/src/components/tabs/ApiKeysTab.tsx
  apps/ui/src/lib/types.ts
  apps/worker/activities/step10.py
  apps/worker/activities/step3_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step8.py
  scripts/google_ads_auth.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc, json

docs: 評価ドキュメント整備 + .gitignore更新
  .gitignore
  evaluation/run_ids.json
  evaluation/ドライバー採用難しい/元記事.md
  evaluation/ドライバー採用難しい/生成記事.md
  evaluation/プロンプト改善ガイド.md
  evaluation/品質比較レポート_v3.md
  evaluation/営業採用難しい/元記事.md
  evaluation/営業採用難しい/生成記事.md
  evaluation/従業員募集こない/元記事.md
  evaluation/従業員募集こない/生成記事.md
  evaluation/測定手法と改善策.md
  evaluation/自動車整備士採用難しい/元記事.md
  evaluation/自動車整備士採用難しい/生成記事.md
Due: secrets, json

docs: プロンプト改善ガイドにキャッシュ・再起動の注意点を追記
  evaluation/プロンプト改善ガイド.md
Due: secrets

fix: 包括DBマイグレーション追加 + ガイドにセットアップ手順追記
  evaluation/プロンプト改善ガイド.md
  scripts/migrations/004_catchup_all.sql
Due: secrets

Path conditions:
  secrets: any of: *
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
  biome: any of: apps/ui/**/*.{ts,tsx}
  tsc: any of: apps/ui/**/*.{ts,tsx}
  json: any of: *.json
