Repository rozwer/cross2B-Pro: changes, and which lefthook commands are due for each by the changed paths.
All: secrets, ruff-check, ruff-format, mypy, biome, tsc, json

lefthook.yml:

# lefthook.yml - Git hooks configuration
# Migrated from .githooks/
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # 秘密情報検出（カスタムスクリプト）
    secrets:
      run: bash .lefthook/check-secrets.sh {staged_files}
      glob: "*"

    # Python: ruff lint + format（修正後に自動再ステージ）
    ruff-check:
      glob: "*.py"
      run: ruff check {staged_files} --fix
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

    # Python: mypy（Phase 1: 警告のみ、CI で必須化予定）
    mypy:
      glob: "*.py"
      run: mypy {staged_files} --ignore-missing-imports || true
      # TODO: Phase 2 で || true を削除し、CI でも必須化

    # TypeScript: Biome format（repo ルートから実行、config-path 指定）
    biome:
      glob: "apps/ui/**/*.{ts,tsx}"
      run: mise exec -- npx biome format --write --config-path apps/ui/biome.json {staged_files}
      stage_fixed: true

    # TypeScript: tsc（Phase 1: 警告のみ、CI で必須化予定）
    tsc:
      glob: "apps/ui/**/*.{ts,tsx}"
      run: cd apps/ui && mise exec -- npx tsc --noEmit || true
      # TODO: Phase 2 で || true を削除し、CI でも必須化

    # JSON 検証（複数ファイル対応: for ループ）
    json:
      glob: "*.json"
      run: |
        for f in {staged_files}; do
          python3 -m json.tool "$f" > /dev/null || exit 1
        done

prepare-commit-msg:
  commands:
    prefix:
      run: bash .lefthook/prepare-commit-msg.sh {1}

commit-msg:
  commands:
    conventional:
      run: bash .lefthook/commit-msg.sh {1}

pre-push:
  commands:
    # main/master 直 push 禁止
    protected-branch:
      run: bash .lefthook/check-protected-branch.sh

    # smoke テスト
    smoke:
      run: uv run pytest tests/smoke/ -q --tb=no || echo "Smoke tests skipped"

chore(githooks): simplify hooks, delegate to lefthook
  .githooks/commit-msg
  .githooks/commit-msg.old
  .githooks/pre-commit
  .githooks/pre-commit.old
  .githooks/pre-push
  .githooks/pre-push.old
  .githooks/prepare-commit-msg
Due: secrets

feat(api,ui): add retry recommendation feature
  apps/api/schemas/runs.py
  apps/api/services/runs.py
  apps/ui/src/app/runs/[id]/page.tsx
  apps/ui/src/components/runs/RetryRecommendationBanner.tsx
  apps/ui/src/lib/types.ts
  tests/unit/test_retry_recommendation.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

chore(ui): add biome dependency and format scripts
  apps/ui/package-lock.json
  apps/ui/package.json
  apps/ui/src/app/page.tsx
  tests/unit/test_github_fix.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc, json

fix(api): correct tenant ID from dev-tenant to dev-tenant-001
  apps/api/routers/auth.py
  apps/api/routers/health.py
Due: secrets, ruff-check, ruff-format, mypy

feat(worker): add primary source citation support to step7a
  apps/api/prompts/packs/default.json
  apps/worker/activities/step7a.py
Due: secrets, ruff-check, ruff-format, mypy, json

feat(worker): add quality gate retry limit to step9
  apps/worker/activities/step9.py
Due: secrets, ruff-check, ruff-format, mypy

feat(worker): enhance step5/step10/step12 for quality improvements
  apps/worker/activities/step10.py
  apps/worker/activities/step12.py
  apps/worker/activities/step5.py
Due: secrets, ruff-check, ruff-format, mypy

chore(worker): extend activity timeouts for long-form content
  apps/worker/workflows/article_workflow.py
Due: secrets, ruff-check, ruff-format, mypy

feat(worker): extend schemas for enhanced workflow steps
  apps/worker/activities/schemas/__init__.py
  apps/worker/activities/schemas/step12.py
  apps/worker/activities/schemas/step3b.py
  apps/worker/activities/schemas/step6_5.py
  apps/worker/helpers/schemas.py
Due: secrets, ruff-check, ruff-format, mypy

feat(api): extend v2_blog_system prompt pack
  apps/api/prompts/packs/v2_blog_system.json
Due: secrets, json

feat(api): add v3_blog_system prompt pack
  apps/api/prompts/packs/v3_blog_system.json
Due: secrets, json

chore: add docker-compose.override.yml for local development
  docker-compose.override.yml
Due: secrets

chore: add tooling configuration exports
  tooling-config-export.json
  仕様書/tooling-config-export.json
Due: secrets, json

docs: add Plans2 documents for quality evaluation and tooling setup
  仕様書/Plans2-quality-evaluation.md
  仕様書/Plans2-tooling-setup.md
Due: secrets

docs: add quality evaluation reports and comparison data
  仕様書/評価/SEO_LLMO評価レポート.md
  仕様書/評価/run_ids.json
  仕様書/評価/ドライバー採用難しい/元記事.md
  仕様書/評価/ドライバー採用難しい/生成記事.md
  仕様書/評価/品質向上施策_v2.md
  仕様書/評価/営業採用難しい/元記事.md
  仕様書/評価/営業採用難しい/生成記事.md
  仕様書/評価/従業員募集こない/元記事.md
  仕様書/評価/従業員募集こない/生成記事.md
  仕様書/評価/改善後_品質評価レポート.md
  仕様書/評価/比較レポート.md
  仕様書/評価/自動車整備士採用難しい/元記事.md
  仕様書/評価/自動車整備士採用難しい/生成記事.md
Due: secrets, json

docs: add fix documentation for citation links and quality retry
  docs/fixes/2026-02-06-citation-link-fix.md
  docs/fixes/2026-02-06-quality-retry-fix.md
Due: secrets

test(worker): add unit tests for step7a primary sources formatting
  tests/unit/test_step7a_primary_sources.py
Due: secrets, ruff-check, ruff-format, mypy

fix(worker): use invalid_sources as fallback for citation links
  apps/worker/activities/step7a.py
Due: secrets, ruff-check, ruff-format, mypy

feat: implement Google Ads Keyword Planner API and update LLM models
  .env.example
  apps/api/llm/anthropic.py
  apps/api/llm/gemini.py
  apps/api/llm/openai.py
  apps/api/routers/settings.py
  apps/api/services/connection_test.py
  apps/api/services/google_ads_client.py
  apps/api/services/settings_provider.py
  apps/api/tools/search.py
  apps/ui/src/components/tabs/ApiKeysTab.tsx
  docker-compose.yml
  pyproject.toml
  scripts/google_ads_auth.py
  scripts/init-db.sql
  tests/unit/services/__init__.py
  tests/unit/services/test_google_ads_client.py
  tests/unit/tools/test_search.py
  uv.lock
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

chore: add playwright, screenshots, firebase to gitignore
  .gitignore
Due: secrets
