Repository rozwer/cross2B-Pro: changes, and which lefthook commands are due for each by the changed paths.
All: secrets, ruff-check, ruff-format, mypy, biome, tsc, json

lefthook.yml:

# lefthook.yml - Git hooks configuration
# Migrated from .githooks/
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # 秘密情報検出（カスタムスクリプト）
    secrets:
      run: bash .lefthook/check-secrets.sh {staged_files}
      glob: "*"

    # Python: ruff lint + format（修正後に自動再ステージ）
    ruff-check:
      glob: "*.py"
      run: ruff check {staged_files} --fix
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

    # Python: mypy（Phase 1: 警告のみ、CI で必須化予定）
    mypy:
      glob: "*.py"
      run: mypy {staged_files} --ignore-missing-imports || true
      # TODO: Phase 2 で || true を削除し、CI でも必須化

    # TypeScript: Biome format（repo ルートから実行、config-path 指定）
    biome:
      glob: "apps/ui/**/*.{ts,tsx}"
      run: mise exec -- npx biome format --write --config-path apps/ui/biome.json {staged_files}
      stage_fixed: true

    # TypeScript: tsc（Phase 1: 警告のみ、CI で必須化予定）
    tsc:
      glob: "apps/ui/**/*.{ts,tsx}"
      run: cd apps/ui && mise exec -- npx tsc --noEmit || true
      # TODO: Phase 2 で || true を削除し、CI でも必須化

    # JSON 検証（複数ファイル対応: for ループ）
    json:
      glob: "*.json"
      run: |
        for f in {staged_files}; do
          python3 -m json.tool "$f" > /dev/null || exit 1
        done

prepare-commit-msg:
  commands:
    prefix:
      run: bash .lefthook/prepare-commit-msg.sh {1}

commit-msg:
  commands:
    conventional:
      run: bash .lefthook/commit-msg.sh {1}

pre-push:
  commands:
    # main/master 直 push 禁止
    protected-branch:
      run: bash .lefthook/check-protected-branch.sh

    # smoke テスト
    smoke:
      run: uv run pytest tests/smoke/ -q --tb=no || echo "Smoke tests skipped"

chore: add playwright, screenshots, firebase to gitignore
  .gitignore
Due: secrets

fix(worker): strengthen OutputParser and unify JSON parsing across codebase
  apps/api/routers/keywords.py
  apps/api/routers/suggestions.py
  apps/worker/activities/step9.py
  apps/worker/helpers/output_parser.py
  tests/unit/helpers/test_output_parser.py
Due: secrets, ruff-check, ruff-format, mypy

feat(prompts): add hard gate enforcement and move evaluation files
  apps/api/prompts/packs/default.json
  docs/evaluation/SEO_LLMO評価レポート.md
  docs/evaluation/run_ids.json
  docs/evaluation/ドライバー採用難しい/元記事.md
  docs/evaluation/ドライバー採用難しい/生成記事.md
  docs/evaluation/品質向上施策_v2.md
  docs/evaluation/営業採用難しい/元記事.md
  docs/evaluation/営業採用難しい/生成記事.md
  docs/evaluation/従業員募集こない/元記事.md
  docs/evaluation/従業員募集こない/生成記事.md
  docs/evaluation/改善後_品質評価レポート.md
  docs/evaluation/比較レポート.md
  docs/evaluation/自動車整備士採用難しい/元記事.md
  docs/evaluation/自動車整備士採用難しい/生成記事.md
Due: secrets, json

feat(worker): enhance content generation quality and add model config
  agda-proof/Commutativity.agda
  agda-proof/DimensionAnalysis.agda
  agda-proof/README.md
  apps/api/llm/anthropic.py
  apps/api/schemas/runs.py
  apps/api/tools/fetch.py
  apps/ui/src/components/tabs/ModelSettingsTab.tsx
  apps/ui/src/components/workflow/NodeConfigPanel.tsx
  apps/ui/src/components/workflow/WorkflowGraph.tsx
  apps/worker/activities/step0.py
  apps/worker/activities/step10.py
  apps/worker/activities/step1_5.py
  apps/worker/activities/step2.py
  apps/worker/activities/step3_5.py
  apps/worker/activities/step3a.py
  apps/worker/activities/step3b.py
  apps/worker/activities/step3c.py
  apps/worker/activities/step4.py
  apps/worker/activities/step5.py
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step7b.py
  apps/worker/activities/step8.py
  apps/worker/activities/step9.py
  apps/worker/helpers/model_config.py
  apps/worker/helpers/output_parser.py
  apps/worker/workflows/article_workflow.py
  apps/worker/workflows/parallel.py
  docs/archive/prompts/04_tools.md
  tests/unit/helpers/test_output_parser.py
  仕様書/評価/比較レポート.md
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

chore: add clean DB schema and seed data for customer delivery
  scripts/schema.sql
  scripts/seed.sql
Due: secrets

chore: add delivery scripts folder and DB init script
  scripts/init-database.sh
  納品用_scripts/bootstrap.sh
  納品用_scripts/check-env.sh
  納品用_scripts/google_ads_auth.py
  納品用_scripts/init-database.sh
  納品用_scripts/init-db.sql
  納品用_scripts/migrations/001_add_steps_unique_constraint.sql
  納品用_scripts/migrations/002_add_steps_error_code.sql
  納品用_scripts/migrations/003_create_review_requests.sql
  納品用_scripts/reset.sh
  納品用_scripts/schema.sql
  納品用_scripts/seed.sql
  納品用_scripts/sql/help_contents_image_update.sql
  納品用_scripts/sql/help_contents_init.sql
  納品用_scripts/sql/help_contents_update_workflow_steps.sql
  納品用_scripts/stop.sh
Due: secrets, ruff-check, ruff-format, mypy

chore: exclude scripts/ from tracking (delivery copies in 納品用_scripts/)
  .gitignore
  scripts/bootstrap.sh
  scripts/check-env.sh
  scripts/google_ads_auth.py
  scripts/init-database.sh
  scripts/init-db.sql
  scripts/migrations/001_add_steps_unique_constraint.sql
  scripts/migrations/002_add_steps_error_code.sql
  scripts/migrations/003_create_review_requests.sql
  scripts/reset.sh
  scripts/schema.sql
  scripts/seed.sql
  scripts/sql/help_contents_image_update.sql
  scripts/sql/help_contents_init.sql
  scripts/sql/help_contents_update_workflow_steps.sql
  scripts/stop.sh
Due: secrets, ruff-check, ruff-format, mypy

docs: add delivery documents (README, Claude setup guide, UI operation manuals)
  納品用_documents/CLAUDE_SETUP.md
  納品用_documents/README.md
  納品用_documents/説明書/01_ダッシュボード.md
  納品用_documents/説明書/02_新規記事作成.md
  納品用_documents/説明書/03_ワークフロー進捗.md
  納品用_documents/説明書/04_成果物閲覧.md
  納品用_documents/説明書/05_設定画面.md
Due: secrets

chore: unify all workflow step defaults to Gemini 3.0 for testing
  apps/api/routers/config.py
Due: secrets, ruff-check, ruff-format, mypy

fix: change all service ports to 2xxxx range to avoid conflicts
  alembic.ini
  apps/api/db/migrations/env.py
  apps/api/db/tenant.py
  apps/api/main.py
  apps/api/storage/artifact_store.py
  apps/ui/next.config.js
  apps/ui/src/app/api/help/[...path]/route.ts
  apps/ui/src/components/imageGeneration/phases/Phase11D_Review.tsx
  apps/ui/src/lib/api.ts
  apps/ui/src/lib/auth.ts
  apps/ui/src/lib/websocket.ts
  docker-compose.yml
  pyproject.toml
  start.sh
  uv.lock
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

feat(worker): use DB-aware LLM client for tenant API key resolution
  apps/worker/activities/step0.py
  apps/worker/activities/step10.py
  apps/worker/activities/step3_5.py
  apps/worker/activities/step3a.py
  apps/worker/activities/step3b.py
  apps/worker/activities/step3c.py
  apps/worker/activities/step4.py
  apps/worker/activities/step5.py
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step7b.py
  apps/worker/activities/step8.py
  apps/worker/activities/step9.py
  apps/worker/graphs/post_approval.py
  apps/worker/graphs/pre_approval.py
  apps/worker/helpers/model_config.py
Due: secrets, ruff-check, ruff-format, mypy

fix(ui): auto-invalidate stale localStorage model cache with backend defaults
  .env.example
  apps/ui/src/app/settings/page.tsx
  apps/ui/src/app/settings/runs/new/page.tsx
  apps/ui/src/components/runs/RunCreateForm.tsx
  apps/ui/src/hooks/useStepConfigs.ts
  docker-compose.override.yml
  docker-compose.yml
Due: secrets, biome, tsc

docs: 引継書(HANDOVER.md)追加 + shared-api-keys.txt を gitignore
  .gitignore
  HANDOVER.md
Due: secrets

fix: resolve workflow runtime errors (step1-10 + image skip)
  apps/ui/src/app/runs/[id]/error.tsx
  apps/ui/src/app/runs/[id]/page.tsx
  apps/ui/src/components/artifacts/StepContentViewer.tsx
  apps/ui/src/hooks/useRun.ts
  apps/ui/src/lib/api.ts
  apps/worker/activities/step10.py
  apps/worker/activities/step5.py
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step8.py
  apps/worker/activities/step9.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

refactor: unify llm_provider/llm_model to get_step_model_config() across all steps
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step9.py
Due: secrets, ruff-check, ruff-format, mypy

fix: resolve 11 bugs across worker pipeline (B13-B23) + unify model config
  apps/worker/activities/schemas/step11.py
  apps/worker/activities/schemas/step5.py
  apps/worker/activities/step10.py
  apps/worker/activities/step11.py
  apps/worker/activities/step12.py
  apps/worker/activities/step3b.py
  apps/worker/activities/step4.py
  apps/worker/activities/step5.py
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step7b.py
  apps/worker/activities/step8.py
  apps/worker/activities/step9.py
Due: secrets, ruff-check, ruff-format, mypy

refactor: extract hardcoded values to named constants across worker pipeline
  apps/worker/activities/step0.py
  apps/worker/activities/step10.py
  apps/worker/activities/step11.py
  apps/worker/activities/step12.py
  apps/worker/activities/step3b.py
  apps/worker/activities/step4.py
  apps/worker/activities/step5.py
  apps/worker/activities/step6.py
  apps/worker/activities/step6_5.py
  apps/worker/activities/step7a.py
  apps/worker/activities/step9.py
  apps/worker/helpers/__init__.py
  apps/worker/helpers/model_config.py
  apps/worker/helpers/truncation_limits.py
Due: secrets, ruff-check, ruff-format, mypy

fix: E2E検証で発見した複数バグを修正
  HANDOVER.md
  apps/api/llm/__init__.py
  apps/api/llm/exceptions.py
  apps/api/llm/gemini.py
  apps/ui/src/app/runs/[id]/page.tsx
  apps/ui/src/components/tabs/OutputApprovalTab.tsx
  apps/worker/activities/step0.py
  apps/worker/activities/step10.py
  apps/worker/activities/step11.py
  apps/worker/activities/step3_5.py
  apps/worker/activities/step5.py
  apps/worker/activities/step8.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

feat: step11画像生成待ち画面にスキップボタンを追加
  apps/ui/src/app/runs/[id]/page.tsx
Due: secrets, biome, tsc

fix: E2E発見3バグ修正 + DB序列修正 + scripts追跡復活
  .gitignore
  apps/api/routers/runs.py
  apps/ui/src/app/page.tsx
  apps/ui/src/components/runs/RunList.tsx
  apps/ui/src/lib/api.ts
  scripts/clone_run_for_testing.sh
  scripts/google_ads_auth.py
  scripts/init-claude-structure.sh
  scripts/init-database.sh
  scripts/init-db.sql
  scripts/migrations/001_add_steps_unique_constraint.sql
  scripts/migrations/002_add_steps_error_code.sql
  scripts/migrations/003_create_review_requests.sql
  scripts/schema.sql
  scripts/seed.sql
  scripts/setup-githooks.sh
  scripts/sql/help_contents_image_update.sql
  scripts/sql/help_contents_init.sql
  scripts/sql/help_contents_update_workflow_steps.sql
  scripts/test_all_endpoints.py
  scripts/test_article_image_gen.py
  scripts/test_step11.py
Due: secrets, ruff-check, ruff-format, mypy, biome, tsc

docs: DB共有ダンプ更新 + CLAUDE.md セットアップ手順追加
  .gitignore
  CLAUDE.md
  scripts/init-database.sh
  scripts/schema.sql
  scripts/seed.sql
Due: secrets

feat: add competition data to SearchVolumeTool response
  apps/api/tools/search.py
Due: secrets, ruff-check, ruff-format, mypy

feat: add GET /api/keywords/volume endpoint
  apps/api/routers/keywords.py
Due: secrets, ruff-check, ruff-format, mypy

feat: add keyword volume API client
  apps/ui/src/lib/api.ts
  apps/ui/src/lib/types.ts
Due: secrets, biome, tsc

fix: extract search_volume and competition into workflow_config
  apps/api/routers/runs.py
Due: secrets, ruff-check, ruff-format, mypy

feat: fetch real volume on keyword selection in undecided flow
  apps/ui/src/components/runs/wizard/RunCreateWizard.tsx
Due: secrets, biome, tsc

feat: add volume fetch button for decided keyword flow
  apps/ui/src/components/runs/wizard/steps/Step2Keyword.tsx
Due: secrets, biome, tsc
